* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.layout {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;                     
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;          
    padding: 20px;
    border-right: 1px solid #ccc; 
}


.right {
    flex: 1;                     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

label {
    margin-bottom: 4px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    cursor: pointer;
}
