.profile-header
{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-header img
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-bio
{
  color: #555;
}
