
.sidebar
{
  width: 220px;
  background-color: #ffffff;
  padding: 1rem;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
}

.sidebar ul
{
  list-style: none;
}

.sidebar li
{
  margin-bottom: 1rem;
}

.sidebar a
{
  font-weight: bold;
}
