@import url(main.css);
.sidebar
{
  width: 300px;
  background-color: #ffffff;
  padding: 1rem;
  height: 25vh;
  position: fixed;
  left: 0;
}

.sidebar ul
{
  list-style: none;
}

.sidebar li
{
  margin-bottom: 1rem;
}

.sidebar a
{
  font-weight: bold;
}

.sidebar button {
  width: 95%;
  padding: 9px;
  margin: 13px auto;
  border: none;
  border-radius: 20px;
  background-color: var(--dark-container);
  color: white;
  cursor: pointer;
  font-size: 16px;

  display: flex;
  align-items: center;

  position: relative;
  top: 10px;
}

.sidebar button:hover {
  background-color: var(--hover-container);
  color: white;
}

.sidebar h2 {
  margin: 0;
  line-height: 1.3;
  text-align: center;
}

.sidebar h2 a {
  color: var(--dark-container);
  
  position: relative;
  left: -10px;
  top: 10px;
}

.sidebar p {
  color: gray;
  font-size: 15px;
  margin: 0;
  line-height: 1.3;
  text-align: center;

  position: relative;
  top: 10px;
}

.profile-pic {
  width: 100px;            
  height: 100px;
  border-radius: 50%;       
  object-fit: cover;      
  border: 3px solid #ccc; 

  position: relative;
  top: -70px;
  left: 60px;
  margin-bottom: -80px;     
}

.profile-link:hover {
  color: var(--hover-container);
  text-decoration: underline;
  font-weight: bold;
  
}

.home-button, .new-post-button {
  margin: 0;
  width: 35px;     
  height: 27px;     
  background-color: transparent;
  border: none;
  cursor: pointer;

  position: relative;
  left: -10px;
  top: 2px;
}